<%= render 'shared/errors', object: invite %>

<div class="invite container-fluid">
  <div class="row invite-title">
    <div  class="col-md-1">
      <%= link_to image_tag(current_user.try(:image_url), class: 'avatar img-circle'), current_user %>
    </div>
    <div>
      <%= link_to invite.user.name, invite.user %> says: <%= link_to invite.title, invite %>
      at <%= link_to invite.location, maps_link(invite), target: "_blank" %> around <%= format_datetime(invite.date)  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
    <%= invite.description %>
    </div>
  </div>

</div>
<hr>
