<%= render partial: 'invite', locals:{invite: @invite} %>

<%= render partial: 'shared/map' %>
<%=  render partial: 'shared/geocoder', locals: { lat: @invite.latitude , lng: @invite.longitude, location: @invite.location, location_details: @invite.location_details, markers: [] } %>

<div class="panel panel-default">
  <h4>Comments:</h3>
    <div class="panel-body" id="comments">
      <% if @invite.comments.any? %>
        <%= render partial: 'comments/comment', collection: @invite.comments %>
      <%end%>
    </div>

</div>

<%= render 'comments/form' %>

<%= link_to t('.edit'), edit_invite_path(@invite) %> |
<%= link_to t('.back'), invites_path %>
