<div class="container-fluid">
<%= link_to '< Back to invites list', invites_path, class: 'btn btn-primary' %>
<% if current_user && @invite.user.eql?(current_user) %>
  <%= link_to t('.edit'), edit_invite_path(@invite), class: 'btn btn-primary pull-right' %>
<% end %>
</div>

<%= render partial: 'invite', locals:{invite: @invite} %>

<%= render partial: 'shared/map' %>
<%=  render partial: 'shared/geocoder', locals: { lat: @invite.latitude , lng: @invite.longitude, location: @invite.location, location_details: @invite.location_details, markers: [] } %>

<div class="panel panel-default">
  <h4>Comments:</h3>
    <div class="panel-body" id="comments">
      <% if @invite.comments.any? %>
        <%= render partial: 'comments/comment', collection: @invite.comments %>
      <%end%>
    </div>

</div>

<%= render 'comments/form' %>


