<p>
  <strong>Creator:</strong>
  <%= @invite.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invite.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @invite.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invite.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @invite.location %>
</p>
<hr>
<div class="panel panel-default">
  <h4>Comments:</h3>
    <div class="panel-body" id="comments">
      <% if @invite.comments.any? %>
        <%= render partial: 'comments/comment', collection: @invite.comments %>
      <%end%>
    </div>

</div>

<%= render 'comments/form' %>

<%= link_to t('.edit'), edit_invite_path(@invite) %> |
<%= link_to t('.back'), invites_path %>
