<p>
  <strong>Creator:</strong>
  <%= @invite.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invite.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @invite.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invite.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @invite.location %>
</p>
<hr>
<div class="panel panel-default">
  <h4>Comments:</h3>
  <% if @invite.comments.any? %>
    <div class="panel-body" id="comments">
      <%= render partial: 'comments/comment', collection: @invite.comments %>
    </div>
  <%end%>
</div>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
