<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @user.interests %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @user.image_url %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
