<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wannajoin?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WannaJoin is a great place to meet new people or just find a company for an event.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'icon.png', type: 'image/png' %>
    <%= favicon_link_tag 'icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyAXvLWa4qZwNVNEw9ryFHZ37_6LY9LqhP4"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="<%= body_class %>">
    <% if current_user  %>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
              <div class="dropdown-menu">
                <%= link_to 'Log Out', logout_path, class: 'dropdown-item' %>
              </div>
            </li>
            <li class="nav-item"><%= link_to image_tag(current_user.try(:image_url), class: 'avatar img-circle'), current_user %> </li>
          </ul>
        </div>
      </nav>
    <% end %>
    <div class="container">
      <%= render partial: 'shared/flash_messages', flash: flash %>
      <%= yield %>
      <%= yield :javascripts %>
    </div>
  </body>
</html>
